{% include 'layout.html.twig' %}
{% if isClickable %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('abstract_list_view_page') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('abstract_list_view_page') }}
    {% endblock %}
{% endif %}
<div class="pagination-centered">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <br/>
            <h1>{{ pageTitle }}</h1>
            <br/>

            {% if items is empty %}
                No items.
            {% else %}
                {% if headerDisplayText is not empty %}
                    <ul class="list-group">
                        <li id="header"
                            class="header-list-group-item list-group-item">
                            <b>{{ headerDisplayText }} ↑</b>
                        </li>
                    </ul>
                {% endif %}
                <ul id="list" class="list-group">
                    {% for item in items %}
                        <li class="my-list-group-item list-group-item"
                            data-item-id="{{ item.id }}"
                            data-from-route="{{ twigUtils.currentRoute }}"
                            data-on-click-route="{{ onClickRoute }}">
                            {{ item.displayName }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>